[2020-11-09 16:50] rujutashinde opened #1 "CCITCARBON-222 Test Issue : Jira project"
just a test issue

[2020-11-19 13:20] rujutashinde commented on #1
done

[2020-11-19 14:10] rujutashinde commented on #1
CCITCARBON-222 #comment this is new comment

[2020-12-07 18:27] #1 closed

[2021-03-10 06:59] greg-hellings opened #45 "Allow multiple --vars-data arguments"
Currently it's not possible to pass multiple instances of --vars-data to teflo. It would be very useful to allow this.

Additionally, the documentation makes no comment about the structure of the data, as best I can tell, that needs to be inside of the vars-data file. It should be mentioned that a YAML-formatted file is expected.

[2021-03-10 07:00] greg-hellings opened #46 "Enable use of templates in teflo.cfg"
Currently I cannot template values into teflo.cfg. This makes it difficult for me to template the value of things like my OpenStack cloud name. Please allow template resolution of values pulled from the teflo.cfg file.

[2021-03-10 17:58] greg-hellings opened #47 "Bad tests in test_cli.py"
in tests/functional/test_cli.py the methods test_valid_run_var_file and test_valid_run_var_raw_json are invalid.

If you check the output of both tests, they complain that the file they're being passed (descriptor.yml) is invalid. Yet, teflo is returnning a `results.exit_code == 0`, so the test is passing. This means there are multiple problems:

1) Teflo should not be returning 0 when it encounte

[2021-03-10 18:46] rujutashinde commented on #46
@greg-hellings I have a POC ticket opened to allow jinja templating for teflo.cfg.
https://projects.engineering.redhat.com/browse/CCITCARBON-271

[2021-03-10 20:06] greg-hellings commented on #46
That would be a fantastic feature to see in action!

[2021-03-11 17:53] greg-hellings opened #50 "Multiple layers of templating aren't resolved"
If I have multiple layers of Jinja templating, they are not resolved properly. For example, if my SDF file has something like this:

[code]

And my vars-data file has something like this:

[code]

Then the SDF should resolve to `name: value-child_val` but, instead, it only resolves once to `name: value-{{ child_var }}`. Ansible deals with this by essentially passing the values through the template

[2021-03-11 18:25] rujutashinde commented on #50
That is correct, teflo as of now does not consider multiple layers of jinja templating. I will add a ticket for this

[2021-03-16 18:35] rujutashinde commented on #45
Closes with #49

[2021-03-16 18:35] #45 closed

[2021-03-16 18:35] rujutashinde commented on #47
closes with #48

[2021-03-16 18:35] #47 closed

[2021-03-18 14:50] rujutashinde commented on #46
Fixed by #51

[2021-03-18 14:50] #46 closed

[2021-03-23 18:44] greg-hellings opened #54 "Ansible stderr often gets swallowed"
When runs of ansible-playbook error, they often result in none of their own stderr being output. Instead, I typically get a Python stack trace from inside of teflo. This then requires me to run the playbook again, manually, in order to see the output error.

Please don't swallow stderr

[2021-03-29 20:23] rujutashinde commented on #54
https://projects.engineering.redhat.com/browse/CCITCARBON-281 filed for this

[2021-04-21 18:06] jbpratt opened #62 "Templating for injecting IP Address is not templating"
I'm trying to pass the IP address into a playbook according to the data pass-through document, but it doesn't seem to be working as expected.

https://github.com/RedHatQE/teflo/blob/408886ef91925b18895b946c8a750a31db15c6ac/docs/users/data_pass_through.rst#data-pass-through

[code]

The specific error (you can see that `{ el8_client.ip_address }` is actually getting injected):
[code]

And here is t

[2021-04-21 18:25] rujutashinde commented on #62
Jira ticket CCITCARBON-292 has been created for this issue. Url : https://projects.engineering.redhat.com/browse/CCITCARBON-292

[2021-04-26 20:56] JunqiZhang0 commented on #54
Scheduled a meeting to discuss this issue

[2021-04-27 13:08] JunqiZhang0 commented on #54
Had the meeting with Greg, @greg-hellings will have a minimum ansible playbook attached

[2021-04-27 13:22] greg-hellings commented on #54
@JunqiZhang0 Making the min reproducer was easier than I thought. Here are my sdf.yml, min.yml (the playbook), along with the output from Teflo and the output from `ansible-playbook` that is mostly getting swallowed by Teflo:

https://gist.github.com/greg-hellings/8b14a434302055d077ef69ab5360fe4a

[2021-05-10 13:29] jbpratt opened #66 "invalid inventory generated when groups contains the machine name"
When the `groups` section of `provision` contains the exact `name` value, the generated inventory is invalid and will fail.

[code]

Inventory:
[code]

Output:

<details>

[code]
</details>

[2021-05-10 15:26] rujutashinde commented on #66
Jira ticket CCITCARBON-307 has been created for this issue. Url : https://projects.engineering.redhat.com/browse/CCITCARBON-307

[2021-05-13 20:08] jbpratt commented on #62
Closed as can't reproduce

[2021-05-13 20:08] #62 closed

[2021-05-18 13:28] jbpratt commented on #54
@JunqiZhang0 @rujutashinde  I'm still experiencing this issue on `teflo, version 1.2.0`

`.teflo/fc0vlz8i25/logs/teflo_scenario.log`

<details>

[code]

</details>

`.teflo/fc0vlz8i25/logs/ansible_orchestrator/ansible.log`
<details>

[code]

</details>

[code]

[2021-05-18 16:01] JunqiZhang0 commented on #54
Hi @jbpratt , could you pass me your failing playbook?

[2021-05-18 16:04] jbpratt commented on #54
@JunqiZhang0 I'll work on writing a reproducer as it is tied up in our automation and configuration heavily. The gist of this failure was "ssh_private_key_file was missing"

[2021-05-18 16:08] JunqiZhang0 commented on #54
@jbpratt Thank you very much! A reproducer will help a lot for locating the bug, as I tested some failed playbook and teflo successfully outputted the errors

[2021-05-21 16:35] ryankwilliams opened #70 "Unable to install Ansible collections"
After installing `teflo`, the following ansible packages/versions are installed:

[code]

When trying to use teflo to install Ansible collections or even invoke the `ansible-galaxy` command directly, I am getting the following exception:

[code]

The problem looks to be with the recent release of Ansible 4.0. Before Ansible 4.0, teflo would install only `ansible` and `ansible-base` packages. Now w

[2021-05-21 17:37] rujutashinde commented on #70
@ryankwilliams Thank you for the detailed explanation. I will test with removal of ansible_base and new ansible 4 install
Currently this is what we set up with `
    install_requires=[        'ansible&gt;=2.5.0',        'ansible-base != 2.10.6',`
For now the workaround as you said would be uninstalling ansible-base

[2021-05-21 17:46] ryankwilliams commented on #70
@rujutashinde Your welcome! Sounds great. Yes, I modified `setup.py` to remove `ansible-base`/set `ansible` to a minimum `4.0.0` and I was able to get past this issue.

[2021-05-21 18:04] rujutashinde commented on #70
Jira ticket CCITCARBON-313 has been created for this issue. Url : https://projects.engineering.redhat.com/browse/CCITCARBON-313

[2021-05-27 20:26] DharmitD opened #73 "Unable to pass multiple files to the extra_vars module"
When multiple files are passed as a list in the `extra_vars` module within `ansible_options`, the task fails. The `file` module only works for a single file.

For example, the following code snippet doesn't work:

[code]

At present, the `extra_vars` is looped through by `file` which a unique key so it can only be set once:
https://github.com/RedHatQE/teflo/blob/master/teflo/ansible_helpers.py#L17

[2021-06-02 05:56] shay6 commented on #73
Thanks, @DharmitD, we will open a ticket for this issue

[2021-06-03 13:38] shay6 commented on #73
I created this ticket for this issue
https://projects.engineering.redhat.com/browse/CCITCARBON-318

[2021-06-03 16:44] jbpratt opened #75 "Recursive include of SDFs"
In a complex scenario, or mono-repo containing numerous scenarios, sharing SDFs is desired. The `include` functionality works great for this, it would be awesome to expand this to handle an included file that also includes others.

[code]

[code]

The scenario passes validation with no error thrown, but the child SDF is still not included.

[2021-06-08 16:52] #70 closed

[2021-06-08 16:52] rujutashinde commented on #70
Removed dependency on ansible_base package. This change is added to develop

[2021-06-08 19:16] rujutashinde commented on #75
Jira ticket CCITCARBON-319 has been created for this issue. Url : https://projects.engineering.redhat.com/browse/CCITCARBON-319

[2021-06-08 20:22] rujutashinde commented on #73
@DharmitD you plan to use the file as extra var , so the command would look something like the  following  :

 <ansible-playbook playbook.yml --extra-vars=@some_file --extra-vars=@some_other_file>  OR
 <ansible-playbook playbook.yml -e "@some_file" -e "@some_other_file">

I wanted to know how you run the ansible-playbook when using multiple files as extra vars

[2021-06-09 03:34] DharmitD commented on #73
@rujutashinde yes, I think the command should look like the one you specified:
<ansible-playbook playbook.yml --extra-vars=@some_file --extra-vars=@some_other_file>

Looks like someone tried it out and that format worked:
https://stackoverflow.com/questions/31800060/can-extra-vars-receive-multiple-files

If you look at the documentation here, there is an example where a list of values is passed fo

[2021-06-10 16:14] DharmitD commented on #73
By "provision to pass a list to the file module", what is mean is that, we need extra_vars to support calling multiple files at a time. Right now, it is only able to take a single file path, something like this:

`ansible_options:
      extra_vars:
        file: ansible/vars/amq-interconnect_v1.10.yml
`
We have a use case where we need to call multiple files - basically pass more than one file as

[2021-06-15 16:12] jbpratt opened #78 "Support additional reporting methods"
In my POC of the podman provisioner, I utilized the Ansible Podman Connection plugin(https://blog.tomecek.net/post/ansible-and-podman-can-play-together-now/) which allows ansible to run against a container the same way it would via SSH and a standard machine. The problem comes into play with the use of the `synchronize` module which handles copying and reporting results. After discussion with @sha

[2021-06-15 16:46] rujutashinde commented on #78
Jira ticket CCITCARBON-320 has been created for this issue. Url : https://projects.engineering.redhat.com/browse/CCITCARBON-320

[2021-06-18 23:35] #73 closed

[2021-06-24 16:01] JunqiZhang0 commented on #54
@jbpratt any update on the reproducer?

[2021-06-24 16:03] JunqiZhang0 commented on #50
@greg-hellings the issue should be resolved by #76 , you can take a look

[2021-06-24 16:05] JunqiZhang0 opened #85 "There should be some "good first issue" for community developers/beginner developers"
There should be some "good first issue" for community developers/beginner developers, just add the **good first** tag on the issue which is easy enough to be picked up by new team member/community developer. We could build a better community this way

[2021-06-25 11:01] rujutashinde commented on #85
Jira ticket CCITCARBON-328 has been created for this issue. Url : https://projects.engineering.redhat.com/browse/CCITCARBON-328

[2021-06-30 03:46] Dannyb48 opened #93 "Scenario not retaining orchestrate action resource order if you re-run using result.yml and it starts from a failed orchestrate task"
I have a scenario where the first action task passed but the second action task failed.

teflo_log:
[code]

teflo_results.yml:
[code]

Then if I try to re-run from the failed task `teflo -s .teflo/.results/results.yml -t orchestrate` it starts what it is supposed to
[code]

Granted it failed again but when I look at the results.yml I see this task is first rather than second
[code]

This becomes a

[2021-06-30 11:02] rujutashinde commented on #93
Jira ticket CCITCARBON-333 has been created for this issue. Url : https://projects.engineering.redhat.com/browse/CCITCARBON-333

[2021-07-14 11:28] jbpratt commented on #54
@JunqiZhang0 I was able to work up a reproducer of sorts, but I think it is exposing another issue. I can't find the complete ansible log at all for this, so I can't see what the error message is (I think it is due to the `ansible_ssh_private_key_file` in provision being set to a key that doesn't exist).

This isn't the exact same behavior as before, but it should get you going in the right direct

[2021-07-14 18:49] JunqiZhang0 commented on #54
@jbpratt I think it's failing because you are using ssh key that doesn't exist, I tested the playbook in your orchestrate phase with static host, it run without any problem. Also I tested an invalid playbook for orchestrate phase, teflo printed out the error message without problem. If you have other issue/problem, you are welcome to open a new issue and I will close this.

[2021-07-14 20:47] jbpratt commented on #54
@JunqiZhang0 I stated in the post that this was due to a missing ssh key (`ansible_ssh_private_key_file: "non-existent-key"`, this was explicit). Teflo is still not presenting the error, that is not viewable from the output I posted. This is still a bug in teflo.

[2021-07-16 14:14] jbpratt opened #97 "bkr: support `--ks-append` for provisioner plugin"
We often want to just append on a small set of commands onto the existing kickstart file that is provided (if existing). Rather than requiring the entire thing, we can make use of the [kickstart append command option] on the beaker client.

[code]

[kickstart append command option]: https://beaker-project.org/docs/man/bkr.html#cmdoption-bkr-ks-append

[2021-07-16 19:24] dno-github commented on #97
Jira ticket CCITCARBON-347 has been created for this issue. Url : https://projects.engineering.redhat.com/browse/CCITCARBON-347

[2021-07-19 14:58] #97 closed

[2021-07-19 16:46] Dannyb48 opened #101 "Using teflo > 1.2.0 causes an exception when using vars-data"
As of 1.2.1 whenever we run the following command:
[code]

We see the following error:
[code]

In order to work around this we need to rollback and pin teflo to 1.2.0. I think this has to do with the recent changes for PR #76

[2021-07-19 16:59] rujutashinde commented on #101
I will look at this one

[2021-07-19 19:02] rujutashinde commented on #101
The issue arises when we are trying to recursively replace the variables in the variable file, and the value to be replaced is a list instead of a string
 e.g. below the devices is resolved as a list [/dev/vdc] , string.replace operation does not like the replacement value to be a list. A string is expected
`
# Where Ceph stores its data
devices:
  - /dev/vdc
disk_wipe_disks: "{{ devices }}"`

[2021-07-19 19:44] Dannyb48 commented on #101
@rujutashinde Good Catch! Yeah so I assume that utility should probably take into account check whether the type is, str, list, and dicts

[2021-07-21 04:32] rujutashinde commented on #50
Closing this issue Fixed by #76

[2021-07-21 04:32] #50 closed

[2021-07-21 18:38] Dannyb48 opened #111 "All teflo resource objects should implement __eq__ and __hash__ for equality testing"
Currently all equality testing is based on a resources name attribute which is fine but is done upfront by the developer. The framework can keep using name if it wants or other parameters/attributes but it should be abstracted away to allow developers to just simply say `if asset_obj == asset_obj` or when checking if a resource is in a list by simply saying `if asset_obj in res_list` rather needin

[2021-07-21 20:01] JunqiZhang0 commented on #54
@jbpratt looking at it, will get back to you soon

[2021-07-21 20:03] #101 closed

[2021-07-22 11:05] dno-github commented on #111
Jira ticket CCITCARBON-354 has been created for this issue. Url : https://projects.engineering.redhat.com/browse/CCITCARBON-354

[2021-07-27 15:09] JunqiZhang0 commented on #54
I'll be out for the coming sprint, @rujutashinde will take a look

[2021-07-27 19:56] rujutashinde commented on #54
@jbpratt In this specific scenario, we saw that only specific exceptions were looked at during ssh to the hosts, the one which were getting missed were not  getting reported back, which is what you saw. (e.g in this case KeyImportError) , I have added a check to catch generic exception. I have the change in my branch https://github.com/rujutashinde/teflo/tree/bug_54 , if you would like to test it

[2021-07-29 19:24] rujutashinde commented on #93
fixed with #110

[2021-07-29 19:24] #93 closed

[2021-08-02 05:15] rujutashinde commented on #54
Fixed by #113

[2021-08-02 05:15] #54 closed

[2021-08-02 22:37] JunqiZhang0 opened #117 "automate release process"
1. Have the release workflow moved to master branch
2. Trigger workflow to do the bump version(once merge from develop to master, trigger it)
3. Use teflo notification plugin/ notify service to send out release email, also should in master

[2021-08-02 22:38] JunqiZhang0 commented on #85
Added a good first issue, so close this one

[2021-08-02 22:38] #85 closed

[2021-08-03 11:01] dno-github commented on #117
Jira ticket CCITCARBON-358 has been created for this issue. Url : https://projects.engineering.redhat.com/browse/CCITCARBON-358

[2021-08-06 16:34] #66 closed

[2021-08-07 10:51] dmaizel opened #119 "Passing variables conditionally between an execute block and a report block"
At the moment there is no way to pass variables from an execute block to a report block conditionally.

An example use case:
Let's say I want to execute some tests and then report to a different test run in Polarion per environment.
Ideally, I would want to export an environment variable conditionally inside a shell and then use it in the corresponding report block.

To work around this I use 1 co

[2021-08-10 13:51] dno-github commented on #119
Jira ticket CCITCARBON-361 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-361

[2021-09-24 15:26] JunqiZhang0 commented on #75
closed by #107

[2021-09-24 15:26] #75 closed

[2021-09-24 16:46] jbpratt opened #130 "Feature: Allow including of SDFs from URL"
[code]

This should resolve any includes the remote SDF may have as well.

[2021-09-24 21:27] ryankwilliams opened #131 "RFE: Allow Ansible playbooks stored within a collection to be defined within a orchestrate action"
Today teflo allows users to be able to create an orchestrate action that has the following:
* Orchestrate = Ansible
* Ansible playbook = my_playbook.yml (where the playbook is stored within the repository where the teflo SDF file is)

With the addition of Ansible collections, collections now allows you to be able to store playbooks inside a collection. Making it very easy to call the playbook (usi

[2021-09-24 21:53] ryankwilliams opened #132 "Issue when rendering SDF file with jinja conditionals"
I found a bug where teflo validation can't run when I have jinja conditionals mixed within my include statements. These conditionals are here to only include those SDF files when the required conditional are met.

I put together this simple Python script that pretty much takes the teflo function for jinja template and allows me to quickly run it to demonstrate this issue.

**Script**

[code]

**Is

[2021-09-25 11:02] dno-github commented on #130
Jira ticket CCITCARBON-368 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-368

[2021-09-25 11:02] dno-github commented on #131
Jira ticket CCITCARBON-369 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-369

[2021-09-25 11:02] dno-github commented on #132
Jira ticket CCITCARBON-370 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-370

[2021-09-29 00:20] Dannyb48 opened #133 "Fail to render vars-data file with KeyError: 'ansible_facts.distribution_version'"
We have a regression with using --vars-data. To be honest a regression got introduced somewhere and we haven't been able to use anything past teflo 1.2.0. Here is the latest error using 1.2.4

[code]
Below are some example variables in the variable file

[code]

@JunqiZhang0 this is blocking us from using newer versions of teflo to leverage some of more of the variable advanced features. Any chanc

[2021-09-29 11:02] dno-github commented on #133
Jira ticket CCITCARBON-373 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-373

[2021-09-29 14:29] JunqiZhang0 commented on #133
@Dannyb48 I'll take a look very soon

[2021-10-01 18:46] rujutashinde commented on #132
@ryankwilliams You are seeing this issue with teflo 2.0 or prior releases?
Was there any release that the jinja templating with include worked?

[2021-10-04 12:07] ryankwilliams commented on #132
Hi @rujutashinde, I was seeing this issue with 2.0 and before. I could use one jinja conditional block for an `include` statement and it works. Its when you have multiple conditionals, I run into the issue above.

[2021-10-11 14:30] ryankwilliams opened #135 "Test result summary does not take into account error test case elements"
Teflo does not take into account the test cases that have been marked as `error` when gathering the test result summary. Test cases that are marked as error should be counted as part of the `failure` total count. Right now, teflo will state the overall result was passed, when there actually was errors within the XML files.

*XML*

[code]

*Teflo output*

[code]

*Jenkins xUnit Plugin*

[code]

xsd

[2021-10-12 11:03] dno-github commented on #135
Jira ticket CCITCARBON-378 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-378

[2021-10-15 13:26] ryankwilliams commented on #135
Another test run we had presents more differences between teflos test results summary and actually what Jenkins xUnit plugin presents.

Teflo results summary

[code]

Jenkins xUnit plugin
![Screenshot from 2021-10-15 07-56-42](https://user-images.githubusercontent.com/3375653/137493682-94e789f6-d6dd-4857-86b9-4d1d4880b90f.png)

It would be great if the code can be reviewed/revised to ensure all te

[2021-10-19 16:02] Dannyb48 opened #145 "custom resource_check does not honor the ansible_galaxy_options"
With teflo 1.2.x and the following in my resource check below. It does not actually download the required collections.

[code]
You can see the value get's loaded into the ansible_service https://github.com/RedHatQE/teflo/blob/develop/teflo/utils/resource_checker.py#L82

but it never gets downloaded, it just calls `run_playbook` function
https://github.com/RedHatQE/teflo/blob/develop/teflo/utils/re

[2021-10-20 18:58] #135 closed, assigned to nobody

[2021-10-26 20:07] #145 closed, assigned to nobody

[2021-10-29 19:36] rujutashinde commented on #133
fixed in #151

[2021-10-29 19:36] #133 closed

[2021-11-01 20:18] JunqiZhang0 opened #155 "Teflo best practice"
We should have an Teflo best practice documented. It should cover from end to end. How to use results.yml, how to store ansible playbooks, how to do inclusion

[2021-11-01 20:22] rujutashinde commented on #155
There is a page for this, but its not updated for the recent changes. So yes new changes should be added there https://teflo.readthedocs.io/en/latest/users/best_practices.html

[2021-11-02 11:03] dno-github commented on #155
Jira ticket CCITCARBON-382 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-382

[2021-11-05 02:21] JunqiZhang0 opened #158 "include url improvement"
1.More automation tests to be added
2.git credential function to be added

[2021-11-05 11:03] dno-github commented on #158
Jira ticket CCITCARBON-385 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-385

[2021-11-05 20:55] JunqiZhang0 commented on #132
closed by pr #153

[2021-11-05 20:55] #132 closed

[2021-11-12 20:33] Dannyb48 opened #163 "Failing with ERROR Orchestration failed : 'ansible_user'"
[code]

We have a use case where we don't use *ansible_params* on provisioning our resources but we've specifed the *ansible_user* in a group_vars file and *ansible_ssh_private_key_file* has been specified in the ansible.cfg. So ansible is able to run but teflo fails with the above error.

Reproduce with the following scenario
- Provision an asset without using *ansible_params*
- Use the asset in

[2021-11-12 20:59] Dannyb48 opened #164 "RFE: Support teflo command aliases similar to git"
The use case is to be able to have a config section called `aliases` that would allow a user to specify aliases for their `teflo run` commands. Similar to git aliases

This would allow teflo commands to be more intuitive, shortened and allow of group tasks together into a single command without explicitly specifying them.

Right now we achieve this by writing lightweight wrapper shell/python scrip

[2021-11-13 11:03] dno-github commented on #163
Jira ticket CCITCARBON-388 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-388

[2021-11-13 11:03] dno-github commented on #164
Jira ticket CCITCARBON-389 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-389

[2021-11-15 17:45] rujutashinde opened #165 "test issue"
ABCD

[2021-11-15 17:45] rujutashinde commented on #165
PQRS

[2021-11-15 19:31] dno-github commented on #165
Jira ticket CCITCARBON-391 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-391

[2021-11-15 19:44] #165 closed

[2021-11-24 19:00] Dannyb48 opened #169 "Still having issues with --var-data. Now error is jinja2.exceptions.TemplateSyntaxError: expected token ',', got 'string'"
Trying to test running my scenario using 1.2.5 and 2.1.0 using some modified version of my ansible vars file that I pass to `--vars-data` and now I get the following errors

[code]

I know the most recent change I had to do the the var file was the following below. I've confirmed if I don't specify the `--vars-data` to  the file that has the variables below. It proceeds through.

[code]

I had to

[2021-11-24 19:00] Dannyb48 commented on #169
@JunqiZhang0 FYI

[2021-11-24 22:50] rujutashinde commented on #119
Hello @dmaizel

I apologize for the delay in response to this ticket [1]. It was moved around wrt to priority

After looking at the code, we were unable to fit in this use case. The reasons being:

1. We recently added a way to provide additional environmental variables along with the set environmental variables within the orchestrate and execute block [2] This will pick the newest set env variabl

[2021-11-24 22:50] #119 closed

[2021-11-25 11:02] dno-github commented on #169
Jira ticket CCITCARBON-395 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-395

[2021-11-30 20:29] dfrazzette opened #171 "Running `teflo validate` fails with 'skip-fail' KeyError"
ISSUE: When running `teflo validate -s $TEFLO_SDF` (where $TEFLO_SDF is scenario.yml file), the task returns an error.

EXPECTED RESULT: The specified scenario is validated and the Teflo step passes.

ACTUAL RESULT: The task fails with error:
`...
File "/home/dfrazzet/gitlab/mock-rhel/venv/lib/python3.7/site-packages/teflo/teflo.py", line 597, in exit_on_status
    and self._teflo_options['skip_fa

[2021-11-30 20:31] dno-github commented on #171
Jira ticket CCITCARBON-396 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-396

[2021-12-01 14:54] JunqiZhang0 commented on #169
@Dannyb48 looking at it

[2021-12-01 18:12] #171 closed

[2021-12-06 19:44] ryankwilliams opened #174 "RFE: Silence notification messages logged to the console output when no notifications are enabled"
It would be great if teflo could silence some of the messages logged to the console output about notifications. When a teflo user does not use the built in notification plugins for certain actions, it produces a good amount of output by default (info logging level). Would it be possible to make this output smaller or even switch it to (debug logging level) and only print out in (info logging level

[2021-12-07 03:42] dno-github commented on #174
Jira ticket CCITCARBON-397 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-397

[2021-12-08 05:18] JunqiZhang0 commented on #131
Working on this

[2021-12-11 21:11] JunqiZhang0 opened #175 "pull requests against master branch(stable release branch) should trigger downstream tests"
pull requests against master branch(stable release branch) should trigger downstream tests to run integration tests. Also this test should contains customers' scenario, too. The whole process should be automated, if pull request passed all downstream tests, it should be automatically merged and trigger the release. If not, should send msg to maintainers.

[2021-12-12 11:02] dno-github commented on #175
Jira ticket CCITCARBON-400 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-400

[2021-12-15 15:32] rujutashinde opened #182 "Resources with same names will cause an error"
In teflo version 2.2.0 If the scenario has resources with same name, e.g. below

[code]

it will throw error like below

[code]

This is causing due to the fix #173

The workaround is to not use resources with same name, OR use teflo 2.1 release.

The fix for this will be available in the next release in January 2022

[2022-01-10 11:34] anupama27 commented on #182
Hi,
I am using teflo 2.2 framework and still the same issue persists,please find the below log .

teflo run -t validate -s teflo/scenario.yml -d /var/lib/jenkins/workspace/rhgs-3.5-rhel-8-anramesh/.teflo -w . --log-level debug
2022-01-10 04:46:21,113 DEBUG [teflo.helpers.check_for_var_file:1346] Looking for .yml files as variable file under vars folder in the current workspace
2022-01-10 04:46:22,

[2022-01-10 15:34] rujutashinde commented on #182
@anupama27 we dont have a fix in for this issue yet. We will keep the bug posted with the updated info
The workaround is to not use resources with same name in the scenario descriptor file. from the log it looks like two or more of the orchestrate blocks may have the same name

@JunqiZhang0  please update the ticket here as well as you make progress with this issue.

[2022-01-14 11:46] jbpratt opened #185 "Error presented is incorrect"
The error presented upon failure is not relevant. The playbook fails due to a fatal ansible task, not the output that is being shown by teflo

[code]

[2022-01-15 11:05] dno-github commented on #185
Jira ticket CCITCARBON-405 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-405

[2022-01-17 15:35] jbpratt opened #186 "Teflo fails to preserve whitespace when dumping ansible output"
Ansible config
[code]

Ansible playbook
[code]

Teflo SDF
[code]

Output from ansible directly:
[code]

Output from Teflo (latest version)
[code]

[2022-01-18 11:08] dno-github commented on #186
Jira ticket CCITCARBON-406 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-406

[2022-01-18 14:28] JunqiZhang0 commented on #182
Hi, @anupama27 , I'm looking at it now, should be fixed soon

[2022-01-26 07:58] JunqiZhang0 opened #188 "Unit tests should be idempotent"
Right now the unit tests can be only run once. If you don't do cleanup. You can pass the unit tests

[2022-01-26 11:02] dno-github commented on #188
Jira ticket CCITCARBON-408 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-408

[2022-01-27 17:09] #169 closed

[2022-01-27 17:29] rujutashinde commented on #130
fixed with #168

[2022-01-27 17:29] #130 closed

[2022-01-27 17:30] rujutashinde commented on #111
fixed with #173

[2022-01-27 17:30] #111 closed

[2022-01-28 15:21] #182 closed

[2022-02-02 13:57] ryankwilliams opened #199 "Do not take into account provision resources that do not match the supplied teflo label"
When using teflo labels, teflo should only take into account resources matching that label when generating the `hosts` key for any orchestrate/execute task resources. The current behavior will include all provision resources that are apart of the group defined even if it does not have the matching label.

Example:

*Provision SDF*

[code]

When I issue the following teflo command below, the result

[2022-02-03 11:01] dno-github commented on #199
Jira ticket CCITCARBON-429 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-429

[2022-02-03 17:15] shay6 commented on #185
Hey @jbpratt, can you please share the `teflo run` command and the SDF file that cause this error (with the fatal ansible task)?
It will help me to reproduce the problem

thanks

[2022-02-04 11:00] jbpratt commented on #185
Hi @shay6 , this is a very simple example. I think teflo presenting the error should probably just be removed. It isn't accurate and the error (in the case of ansible) is actually presented right above it.

`sdf.yml`
[code]

`site.yml`
[code]

[code]

I'm specifically talking about this section:
[code]

and in the initial comment it is just full of SSL warnings which are not interesting :smile_cat

[2022-02-16 14:22] shay6 commented on #185
hey @jbpratt, sorry for the late reply.

that error is an `ansible-playbook` command error. The Teflo run the following command:
`ansible-playbook -i <path_to_inventory> <path_to_site.yml > -e hosts="\\'driver\\'" -e uuid="\\'tl7bx\\'" -e "{\\'localhost\\': True}"`

But `hosts` is a reserved variable in ansible (see here [1] ) so it's not a valid name (see here [2]).

I couldn't find a workaround

[2022-02-16 14:26] jbpratt commented on #185
Hi @shay6 , I don't actually care about the warning, we can keep using the variable (we depend on it). My issue is that the error block should not be present since it is incorrect.

Changing `hosts` to a different variable name is a _HUGE_ change and should not be done.

[2022-02-16 14:37] shay6 commented on #185
yes, @jbpratt, you are right about changing the `hosts` variable, it's a HUGE change.

but IIUC, the problem is that ansible relates to this warning as an Error, it goes to `stderr`.

[2022-02-16 14:39] jbpratt commented on #185
I agree, since it goes to stderr it will be picked up (the same as HTTPS verification warnings from python). This is why I lean towards removing the feature completely, I don't think there is a good way to present that without duplicating stuff (the ansible error is presented clearly above).

[2022-02-28 09:28] shay6 commented on #185
fixed with https://github.com/RedHatQE/teflo/pull/201

[2022-02-28 09:28] #185 closed

[2022-02-28 14:05] jbpratt commented on #186
Closing this with https://github.com/RedHatQE/teflo/commit/abcc9a257840da0ae6471afebe1d0fbcff05e13f Validated this looks correct
[code]

[2022-02-28 14:05] #186 closed

[2022-03-09 18:07] ryankwilliams commented on #131
Please find the attached archive with an example to test this issue.

Steps to use it.

1. Untar the file `tar xvf teflo-131.tar.gz`
2. Run run.sh `bash run.sh`

[teflo-131.tar.gz](https://github.com/RedHatQE/teflo/files/8217059/teflo-131.tar.gz)

[2022-03-31 14:35] jbpratt commented on #199
Hi @rujutashinde this is still causing us issues, do you have any update on it?

[2022-03-31 18:03] rujutashinde commented on #199
@jbpratt @ryankwilliams  I will take a look at this today/tomorrow get back to you soon. I will work on this in the coming week and provide a fix. I apologize for the delay.

[2022-04-07 09:15] jbpratt opened #209 "[DEPRECATION WARNING]: DISPLAY_SKIPPED_HOSTS option is deprecated"
Seeing warnings from teflo settings
[code]

https://github.com/RedHatQE/teflo/blame/60554294fcb641ed7216b1ae99b6ab3fa8f58abc/teflo/executors/ext/ansible_executor_plugin/ansible_executor_plugin.py#L232

[2022-04-07 11:01] dno-github commented on #209
Jira ticket CCITCARBON-433 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-433

[2022-04-11 08:54] shay6 commented on #174
Working on it in this [PR](https://github.com/RedHatQE/teflo/pull/210)

As you can see below, I'm running a 3 SDF without `notification` block, with `info` level, and with `debug` level.

[code]

[2022-04-11 15:42] shay6 commented on #174
Hey @ryankwilliams,

Can you please check this issue with my branch [1]  to see if it solved your problem? Thanks

[1] https://github.com/shay6/teflo/tree/tkt_397

[2022-04-12 15:32] ryankwilliams commented on #174
Hey @shay6, I am currently on parental leave and I am unable to try out this patch of teflo from your branch. I reviewed the output you provided and it looks much better (when running with info level logging - removing the statements regarding notify when none are provided). Thanks!

[2022-04-12 15:44] shay6 commented on #174
Thanks, @ryankwilliams, for the response. Enjoy in your parental leave!

[2022-04-13 14:56] rujutashinde commented on #174
fixed with #210

[2022-04-13 14:56] #174 closed

[2022-04-13 17:37] rujutashinde commented on #131
fixed by #190

[2022-04-13 17:37] #131 closed

[2022-04-13 17:57] #209 closed

[2022-04-26 13:28] jbpratt opened #221 "openstack provisioner: using a network with iPv4 and iPv6, teflo writes the ipv6 to inventory"
When using an OSP network that provides ipv4 and ipv6 addresses, we get the ipv6 address assigned to the host in the inventory file, where we would prefer the ipv4.

[code]

[code]

[2022-04-27 11:25] dno-github commented on #221
Jira ticket CCITCARBON-439 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-439

[2022-05-04 13:00] #221 closed

[2022-07-02 17:58] jbpratt opened #229 "beaker provisioner: append to authorized_keys rather than overwrite it"
https://github.com/RedHatQE/teflo/blob/1d0f54f2f6f0d3810ccbca72420c3258f25a9418/teflo/provisioners/ext/bkr_client_plugin/beaker_client_plugin.py#L486

This overrides any thing that beaker may have set up during the provision. Ideally the file would be appended to.

[2022-07-03 11:01] dno-github commented on #229
Jira ticket CCITCARBON-454 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-454

[2022-07-05 08:11] jbpratt opened #231 "allow setting `included_sdf_iterate_method` through an environment variable"
Would it be possible to allow setting some (if not all default at least) teflo config settings as environment variables to override what lives in the `teflo.cfg` file? We want to sometimes run `by_depth` and sometimes `by_level` but updating the `teflo.cfg` file every time is a bit cumbersome.

[2022-07-05 11:01] dno-github commented on #231
Jira ticket CCITCARBON-455 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-455

[2022-07-07 20:41] rujutashinde commented on #231
@jbpratt  Teflo loads the teflo.cfg at the beginning of every run. For your use case you are looking at having one value in teflo.cfg and keep changing certain default section values before every run and these values should override teflo.cfg ?

[2022-07-07 20:43] jbpratt commented on #231
Hi @rujutashinde , I've realized I don't need to change the settings like I assumed. The idea here was just that I would like to be able to override certain teflo.cfg settings with environment variables. Not needed anymore, thank you

[2022-07-25 16:30] rujutashinde commented on #229
Hi @jbpratt , are you seeing that the line https://github.com/RedHatQE/teflo/blob/1d0f54f2f6f0d3810ccbca72420c3258f25a9418/teflo/provisioners/ext/bkr_client_plugin/beaker_client_plugin.py#L486

 is causing the public_key  at  ` public_key = os.path.join(self.workspace, ssh_key + ".pub") `to be copied to folder `"/root/.ssh/authorized_keys" `directory and overwriting if this dir already had somethi

[2022-07-25 16:35] jbpratt commented on #229
Hi @rujutashinde , yes that is correct, beaker machines are brought up with anaconda that writes the authorized_keys already; once teflo finishes provisioning the machine, this file is overwritten rather than appended to.

[2022-07-27 20:13] rujutashinde commented on #229
Hi @jbpratt , could you please provide me with a SDF i can test with or would be willing to test out the fix?

[2022-07-29 11:15] jbpratt commented on #229
Hi @rujutashinde , sorry for the delay, I can try to test it out next week. Looks like the fix is accurate :+1: thanks!

[2022-08-02 13:13] #229 closed

[2022-09-13 02:36] ryankwilliams opened #242 "When is the next release?"
The last release was back in July. When is the next release going to be available? Just wondering as there is a commit in the develop branch that would benefit my teams testing. Thanks!

[2022-09-13 13:38] rujutashinde commented on #242
Hi @ryankwilliams  we will have a release out on Monday 09/19.

[2022-09-13 14:27] ryankwilliams commented on #242
Great, thanks @rujutashinde!

[2022-09-19 19:08] #242 closed

[2022-09-19 19:11] rujutashinde commented on #199
fixed with #211

[2022-09-19 19:11] #199 closed

[2022-09-19 19:14] rujutashinde commented on #163
closed with #212

[2022-09-19 19:17] rujutashinde commented on #158
fixed with #220

[2022-09-19 19:17] #158 closed

[2022-10-10 12:29] jbpratt opened #250 "Error: Invalid value for '-im' / '--iterate-method': True is not one of 'by_level', 'by_depth'"
[code]

[code]

[2022-10-11 11:01] dno-github commented on #250
Jira ticket CCITCARBON-476 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-476

[2022-10-25 15:34] guyyaakov1 commented on #164
Changes are on develop branch.
fix with #249

[2022-10-25 15:34] #164 closed

[2022-11-07 16:43] #250 closed

[2022-11-09 14:09] danalanerh opened #259 "Teflo failing to install rsync during reporting phase"
Starting about 2 days ago, our teflo runs have been failing to install rsync (Log excerpt here)

`2022-11-08 16:48:56,430 INFO TASK [check if rsync package is installed] *************************************
2022-11-08 16:48:56,430 INFO changed: [10.8.0.174]
2022-11-08 16:48:56,910 INFO
2022-11-08 16:48:56,911 INFO TASK [Add repository] **********************************************************
20

[2022-11-09 14:26] rujutashinde commented on #259
@danalanerh this is caused due to the new change for #257 . @guyyaakov1 can you please take a look.
for workaround ,please use the version 2.2.7.

[2022-11-09 17:53] ryankwilliams commented on #259
PR #257 still does not look like it addresses the issue. https://dl.fedoraproject.org/pub/epel/8/x86_64 is invalid.

There are two folders on the server side:

1. Everything
2. Modular

https://dl.fedoraproject.org/pub/epel/8/

Though when looking at the packages available, `rsync` is not available. Seems to have been removed from epel.

You may need to find an alternative repo to use to pull in `

[2022-11-09 23:05] guyyaakov1 commented on #259
Submitted a PR to develop branch with the wanted changes.

You can tests the changes here:
https://github.com/RedHatQE/teflo/tree/epel_install_8

@danalanerh Thank you for taking your time to create this issue.

[2022-11-10 11:02] dno-github commented on #259
Jira ticket CCITCARBON-481 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-481

[2022-11-17 20:54] #259 closed

[2022-11-18 13:53] danalanerh commented on #259
Which teflo release will reflect this change?

[2022-11-18 14:19] rujutashinde commented on #259
@danalanerh it is in the latest release 2.2.9. we had a hotfix release
https://github.com/RedHatQE/teflo/releases/tag/v2.2.9

[2022-11-18 14:23] danalanerh commented on #259
Thank you! :)

[2022-11-23 14:09] ryankwilliams opened #263 "Bump the minimum python version to 3.9"
Since Python 3.6 is no longer supported, the minimum python version should be bumped to 3.9. The latest version of ansible 7.0.0 that was released on 2022-11-23, sets a requirement of python 3.9 on the controller node.

https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_7.html#ansible-7-porting-guide

[2022-11-23 14:18] ryankwilliams opened #264 "Ansible orchestrate fails with ansible 7.0.0"
# Bug

Teflo is using the `ConfigManager` class directly from ansible. With the recent ansible 7.0.0 release bringing ansible-core version 2.14.0, when an object is instantiated from this class, it no longer has the `data` attribute.

Version 2.14.0 ~ https://github.com/ansible/ansible/blob/devel/lib/ansible/config/manager.py

Version 2.13.6 (ansible < 7.0.0) ~ https://github.com/ansible/ansible/b

[2022-11-24 11:02] dno-github commented on #263
Jira ticket CCITCARBON-488 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-488

[2022-11-24 11:02] dno-github commented on #264
Jira ticket CCITCARBON-489 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-489

[2022-11-25 10:40] rnetser opened #267 "Fail to install teflo ssh-python dependency (python 3.11 support)"
When trying to install teflo on env with python3.11 (default for fedora37),  `ssh-python` dependency fails (see #https://github.com/ParallelSSH/ssh-python/issues/57#issuecomment-1311877590 )

workaround - run in a venv with compatible python
[teflo_ssh_python.log](https://github.com/RedHatQE/teflo/files/10091683/teflo_ssh_python.log)

[2022-11-25 11:02] dno-github commented on #267
Jira ticket CCITCARBON-490 has been created for this issue. Url : https://issues.redhat.com/browse/CCITCARBON-490